---
import Layout from "../layouts/Layout.astro";
import PlotFigure from "../components/PlotFigure.astro";
import * as Plot from "@observablehq/plot";
import cars from "../assets/cars.json";

const years = [...new Set(cars.map((c) => c.year))].sort();
---

<Layout>
  <div class="slider">
    {
      years.map((y) => (
        <div class="slide">
          <h2>Année : {y}</h2>
          <PlotFigure
            options={{
              marks: [
                Plot.dot(cars.filter(c => c.year === y), {
                  x: "weight (lb)",
                  y: "power (hp)",
                  fill: "steelblue",
                }),
              ],
            }}
          />
        </div>
      ))
    }
  </div>

  <style>
    .slider {
      display: flex;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }

    .slide {
      min-width: 100vw;
      scroll-snap-align: start;
      text-align: center;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  </style>
</Layout>